## Name : Sahil Rehman                

## Date : 28/Aug/2024

# Python Assignment: Variables, Operators, and Type Casting

## 1 Understanding Variables
a. Define a variable in Python. Provide an example of how to create a variable that stores your name.

b. What is the difference between a variable and a constant? Can we have constants in Python?

a) Variable: A variable is a reserved memory area that holds any given data value. Put another way, a variable is something that stores value. Also, if we are using Python, we do not need to declare a variable.

In [221]:
#Examle
name = "Name"
name

'Name'

 b) a variable holds data in memory and may be updated accordingly, whereas a constant's name cannot be changed if it has any value.
 
 In Python, constants cannot be created directly, but they can be used using a library called pconst.

In [26]:
pip install pconst

Requirement already satisfied: pconst in c:\users\nidhi rawat\anaconda3\lib\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [30]:
from pconst import const 
 
const.NAME = "Sahil"   
const.FULL_NAME = 'Sahil Rehman'

print(const.NAME) 
print(const.FULL_NAME)

Sahil
Sahil Rehman

## 2 Working with Different Data Types.
a. Create variables of the following types in Python:

1. Integer
2. Float
3. String
4. Boolean

b. Write a Python script to display the type of each variable you created.

In [39]:
a = 9
b = 9.6
c = "Python"
d = True

#a, b, c and d are variable

In [41]:
type(a)

int

In [43]:
type(b)

float

In [45]:
type(c)

str

In [47]:
type(d)

bool

## 3 Arithmetic Operators
a. Explain the following arithmetic operators with examples:

1. Addition (`+`)
2. Subtraction (`-`)
3. Multiplication (``)
4. Division (`/`)
5. Floor Division (`//`)
6. Modulus (`%`)
7. Exponentiation (``)

b. Write a Python script to calculate the area of a rectangle using variables `length`
and `width` with values 5 and 10, respectively. Use the multiplication operator.

 #### Arithmetic operators : arithmetic operators are used to perform mathematical operations on numbers

In [3]:
# (+) Addition
# '+' operator is used for addition
a = 10
b = 12
c = a + b
c

22

In [5]:
# (-) Subtraction
# '-' operator is used for subtraction
a = 23
b = 12
c = a - b
c

11

In [58]:
# (*) Multiplication
# '*' operator is used for multiplication
c= 8 * 2
c

16

In [9]:
# (/)Division
# '/' operator is used for division
a = 16
b = 4
c = a / b
c

4.0

In [11]:
# Floor Division
# '//' When two numbers are divided, the result is rounded to the closest whole number..
a = 9
b = 4
c = a // b
c
# 9 divided by 4 is 2.25, so the floor division result is 2

2

In [13]:
# (%) Modulus 
# '%' the remainder of the division of one number by another.
a = 9
b = 4
c = a % b
c

1

In [15]:
# (**) Exponentiation is 
# '**' the way one raises a number to the power of another.
a = 5
b = 2
c = a ** b
c

25

In [74]:
# b) Area of the rectangle using length=5 breadth=10 

length=5
breadth=10
area = length * breadth
print("Area of the Rectangle :",area)

Area of the Rectangle : 50

## 4 Comparison and Logical Operators


a. Explain the following comparison operators with examples:
1. Equal to (`==`)
2. Not equal to (`!=`)
3. Greater than (`>`)
4. Less than (`<`)
5. Greater than or equal to (`>=`)
6. Less than or equal to
and even.

b. Using logical operators (`and`, `or`, `not`), write a Python script that checks if a
number is positive and even.

#### Comparison operators : Comparison operators are used to compare two values. They return a Boolean value (True or False) based on the result of the comparison.

#### Logical operators : Logical operators are used to combine multiple Boolean expressions and return a Boolean result based on the combination.

In [108]:
# (==) operator is used to compare two values for equality

a = 3
b = 3
c = (a==b)
c

# It returns True value as a is equal b.

True

In [114]:
# (!=) operator is used to compare two values to determine if they are not equal. 

a = 4
b = 8
c = (a !=b )
c

# It returns True value as a is not equal b.

True

In [132]:
# (>) operator is used to compare two values to determine if the value on the left is greater than the value on the right

a = 5
b = 8
c = (a > b)
c

False

In [154]:
# (<) operator is used to compare two values to determine if the value on the right is greater than the value on the left
a = 5
b = 8
c = (b > a)
c

True

In [156]:
# (>=) operator is used to compare two values to determine if the value on the left is greater than or equal to the value on the right.
a = 15
b = 8
c = (a >= b)
c

#. It returns True because the "a" value is greater than or equal to the "b" value.

True

In [158]:
# (<=) operator is used to compare two values to determine if the value on the left is less than or equal to the value on the right.
a = 15
b = 18
c = (a <= b)
c

#. It returns True because the "b" value is greater than or equal to the "a" value.

True

#### b.  Using logical operators (`and`, `or`, `not`), write a Python script that checks if a number is positive and even.

In [19]:
#Example of AND
num = 27

if num > 0 and num % 2==0:
    print("The number is positive and even")
else:
    print("The number is not positive and even")

The number is not positive and even

In [21]:
#Example of OR

if num > 0 or num % 2==0:
    print("The Number is positive or even")
else:
    print("The Number is nor positive or even")

The Number is positive or even

In [25]:
#Example of Not

if not (num <= 0 or num % 2 != 0):
    print("is positive and even")
else:
    print("is not positive and even")

is not positive and even

## 5 Type Casting in Python

a. What is type casting? Explain the difference between implicit and explicit type casting with examples.

b. Write a Python script that:
1. Converts a float to an integer.
2. Converts an integer to a string.
3. Converts a string to a float.

In [191]:
#Implicit
a=6
type(a)

#here we automatically get the type of our variable as integer

int

In [1]:
# Explicit
a = "UK16FD"
b = 7753
c = a + str(b)
c

#here we are converrting year which is a integer to str

'UK16FD7753'

In [201]:
#b Converts a float to an integer.
a = 3.5 
b = 8
c = int(a)+b
print(c)

11

In [205]:
#Converts an integer to a string
a = 10
print("Result",str(a))

Result 10

In [209]:
#Converts a string to a float.
a = "UK16D"
b = 77.53
c = float(a) + (b)
c
# we cannot convert string to float

ValueError: could not convert string to float: 'UK16D'

## 6 Practical Exercise: Mini Calculator

Write a Python script that asks the user to input two numbers and then:

1. Adds the two numbers and prints the result.
2. Subtracts the second number from the first and prints the result.
3. Multiplies the two numbers and prints the result.
4. Divides the first number by the second and prints the result (handle division by zero).
5. Converts the sum of the numbers to a string and prints the type of the result.

In [3]:
a = int(input("Enter 1st number"))
b = int(input("Enter 2nd number"))
print("Addtion :",a + b)  
print("Subtraction :",a - b)
print("Multiplication :",a * b)

try:
    print("Division :",a / b)
except ZeroDivisionError:
    print("ZeroDivisionError: division by zero :")
print("Conversion to string",type(str(a + b)))

Enter 1st number 7
Enter 2nd number 0

Addtion : 7
Subtraction : 7
Multiplication : 0
ZeroDivisionError: division by zero
Conversion to string <class 'str'>